:root {
    --train-ticket-main: #b91450;
    --train-passenger-bg: #808080;
    --train-ticket-main-lighter: #fcd1e1;
}

* {
    box-sizing: border-box;
    transition: all .25s ease-in;
}

body {
    background-color: var(--train-ticket-main);
}


.main_color {
    color: var(--train-ticket-main);
}

.input_top {
    border-color: var(--train-ticket-main);
}

.bg_light {
    background-color: var(--train-ticket-main-lighter);
}

#card1 {
    margin: 5%;
}

#card2 {
    margin: 5%;
}

@media screen and (max-width: 419.99px) {
    .input_top {
        max-width: 75%;
        min-width: 20%;
    }
}

@media screen and (min-width: 420px) {
    #card1 {
        margin: 5% 8%;
    }

    #card2 {
        margin: 5% 8%;
    }
}

@media screen and (max-width: 850px) {
    .weird_guys {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    #card1 {
        margin: 5% 13%;
    }

    #card2 {
        margin: 5% 13%;
    }
}